{% extends "base.html" %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-sm-4" align="left">
                <form action="" method="POST">
                  {{ projectIdForm.csrf }}
				  <div class="form-group">
                      <!--<label for="projectId">Project Id</label>-->
					<input type="text" class="form-control" name="projectId" id="projectId" aria-describedby="projectIdHelp" placeholder="Enter Project Id">
					<small id="projectIdHelp" class="form-text text-muted">You can enter multiple project id´s seperated by a whitespace</small>
				  </div>
                  <button type="submit" class="btn btn-secondary" >Generate Graph</button>
				</form>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="dropdown" align="right">
                    <br>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organisation
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" align="right">
                        {% for organisation in organisations %}
                        <a class="dropdown-item" href="http://disastertools.heigit.org/critical_numbers/organisation/{{organisation.replace(' ','_')}}">{{organisation}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" align="center">
        <embed type="image/svg+xml" src={{chart|safe}} style='max-width:1000px'/>
    </div>
{% endblock %}
