{% extends "base.html" %}

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form action = "" method = post>
                    {{ projectIdForm.hidden_tag() }}
                    <div>
                        {{ projectIdForm.projectId.label }}<br>
                        {{ projectIdForm.projectId }}<br>
                        {{ projectIdForm.average}} Average <br>
                        {{ projectIdForm.submit }}
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <form action = "" method = post>
                    {{ campaignTagForm.hidden_tag() }}
                    <div>
                        {{ campaignTagForm.campaign_tag.label }}<br>
                        {{ campaignTagForm.campaign_tag }}<br>
                        {{ campaignTagForm.average }} Average <br>
                        {{ campaignTagForm.submit}}
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <form action = "" method = post>
                    {{ organisationForm.hidden_tag() }}
                    <div>
                        {{ organisationForm.organisation.label }}<br>
                        {{ organisationForm.organisation }}<br>
                        {{ organisationForm.average }} Average <br>
                        {{ organisationForm.submit}}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="chart" class="container-fluid" align="center">
        <embed type="image/svg+xml" src={{ chart|safe }} width="{{ chart_size }}%"/>
    </div>
    <div class="container" align="center">
        {{ table|safe }}
    </div>
{% endblock %}
