click==6.7
critical-numbers==1
Flask==0.12.2
Flask-Bootstrap4==4.0.2
Flask-WTF==0.14.2
folium==0.5.0
geomet==0.2.0.post2
gunicorn==19.7.1
Jinja2==2.10
lxml==4.2.1
pygal==2.4.0
requests==2.18.4
Shapely==1.6.4.post1
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
